.btn-warning {
  position: absolute;
  right: 10px;
  top: 75px;
}
.btn-danger {
  position: absolute;
  right: 150px;
  top: 75px;
}
.page-header{
  height: 100px;
  background-color: #3366FF;
  padding-top: 10px;
}

.box{
  box-model: border-box;
  border: 3px solid transparent;
  background-clip:padding-box;
  transition: transform 0.3s;
  text-decoration: none;
}
.image:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.2);
}
.image {
  height: 100px;
  width: 150px;
  margin: 10px;
  margin-bottom: 35px;
}
#text {
  color: black;
  font-family: cursive;
}
